<table>
    <tr class="header">
        <th class="header"></th>
        {% for i in '월화수목금'|make_list %}
            <th>{{ i }}</th>
        {% endfor %}
    </tr>
    
    {% with ''|center:14 as range %}
    {% for i in range %}
    <tr>
        <td class="header">
            {{ forloop.counter }}교시
        </td>
        {% with ''|center:5 as range %}
        {% for j in range %}
        <td id="r{{ forloop.parentloop.counter }}c{{ forloop.counter }}">
            <!-- {{ forloop.parentloop.counter }}, {{ forloop.counter }} -->
        </td>
        {% endfor %}
        {% endwith %}
    </tr>
    {% endfor %}
    {% endwith %}
    
</table>